.navbar {
   display: flex;
   justify-content: space-between;
   background-color: #222;
   padding: 1em;
   text-decoration: none;
}
.list {
   display: flex;
   list-style: none;
   align-items: center;
   text-decoration: none;
}
.item {
     margin-right: 1em;
}
.item a {

   color: white;
   text-decoration: none;
}
.item a:hover{
   color:red;
   text-decoration: none;
}
.App_lab {
   pointer-events: none;
   margin-right: 1em;
   margin-top: 1em;
}
   
